.gradle
/build
/*/build
*.iml
.idea
local.properties
.DS_Store
.kotlin
/captures
.externalNativeBuild
.cxx
/google-services.json
/functions/lib
/functions/node_modules
.settings
.project
.classpath
bin/
gen/
